docker.enabled = true


process {
    executor = 'local'
    cpus = 4
    memory = 10.GB
}

/*
 * Pipeline parameters
 */
params {
    CRAM = './samples.csv'
    bed = 'PATH/of/your/BED/file'
    reference = 'PATH/of/your/reference/fasta/file'
    reference_index = 'PATH/of/your/reference/fasta/file/index'
}
