docker.enabled = true


process {
    executor = 'local'
    cpus = 4
    memory = 10.GB
}

/*
 * Pipeline parameters
 */
params {
    CRAM = './samples.csv'
    bed = '/Users/tommasoregoli/Desktop/hg38_Twist_ILMN_Exome_2.5_Panel_annotated_sorted.bed'
    reference = '/Users/tommasoregoli/Desktop/Reference_AWS_GRCh38/Homo_sapiens_assembly38.fasta'
    reference_index = '/Users/tommasoregoli/Desktop/Reference_AWS_GRCh38/Homo_sapiens_assembly38.fasta.fai'
}
