docker.enabled = true
wave.enabled = true

params {
    // Default results folder
    outdir = './results'
    
    // Specifies how the pipeline should publish files (e.g. by copying them)
    publish_dir_mode = 'copy' 

    // Default inputs
    slop = 0
    CRAM = './samples.csv'
    bed = 'PATH/of/your/BED/file'
    reference = 'PATH/of/your/reference/fasta/file'
    reference_index = 'PATH/of/your/reference/fasta/file/index'
    BED_Slop_and_Merge = false
}


// Create a file on your PC called resources_pc.config, configured as described in points 1 and 2, by entering your own resource limits.
// Add your custom config file in the nextflow run command using the -c option
// 1. YOUR PC'S GLOBAL LIMIT (Maximum cumulative resource usage)
//executor {
//    name = 'local'
//    cpus = n        // Nextflow will NEVER use more than n CPUs IN TOTAL at the same time
//    memory = n.GB   // Nextflow will NEVER use more than n GB of RAM IN TOTAL at the same time
//}



// 2. PROCESS CONFIGURATION
//process {
    // Standard starting resources allocated to each individual process
//    cpus = 2
//    memory = 4.GB

    // Maximum resources limit for an individual process 
//    resourceLimits = [
//        cpus: 12,
//        memory: 24.GB,
//        time: 96.h
//    ]
//}

